extends layouts/main-layout

block content

  if !profileUser
    span.errorMessage Check the URL you are trying to access

  else
    .profileHeaderContainer
      .coverPhotoContainer

        .userImageContainer
          img(src=profileUser.profilePic, alt="user profile picture ")

    .postsContainer
    +createPostModals(userLoggedIn)

block scripts
  script(src="/js/profile.js")